.body {
  font-family: sans-serif;
}

.header {
  width: 100%;
  display: flex;
}

.my-photo {
  width: 15%;
  margin-top: 50px;
  margin-left: 70px;
}

.my-photo img {
  width: 120%;
  box-sizing: border-box;
}

.header-content {
  width: 70%;
  margin-top: 70px;
  margin-left: 150px;
  margin-bottom: 100px;
}

.center-box content {
  margin: 20px 0 0 0;
  text-align: justify;
}

.center-box content span {
  height: 40px;
  width: 40px;
  background-color: #3498db;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
}
.center-box content span:hover {
  background-color: #3498db;
  transition: 0.3s;
  transform: translateY(-3px) scale(1.05);
}

section {
  margin: 10px;
}

.section-header {
  cursor: pointer;
}

.experience,
.studies {
  display: none;
}

button {
  font-size: 0.9375rem;
  background-color: #3498db;
  border-color: #3498db;
  border-bottom: none;
  border-radius: 4px;
}
button:hover {
  filter: blur (2px);
  transition: 0.3s;
  transform: translateY(-3px) scale(1.05);
}

.active {
  display: block;
  background-color: rgb(239, 240, 240);
  padding: 10px;
  list-style-type: none;
}

ul {
  list-style-type: none;
}

footer {
  display: center;
  height: 100vh;
}

footer span {
  margin-top: 20px;
  display: inline-block;
  text-align: center;
}

footer span a {
  padding: 0px 30px;
  line-height: 50px;
  font-size: 18px;
  color: black;
  transition: 0.3s;
}

footer span a:hover {
  transform: translateY(-3px) scale(1.05);
  filter: none;
}
